<div class="d-flex flex-row">
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="fTrupci" placeholder="fTrupci">
  <label for="fTrupci">F Trupci</label>
</div>
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="lTrupci" placeholder="lTrupci">
  <label for="lTrupci">L Trupci</label>
</div>
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="prvaKlasa" placeholder="prvaKlasa">
  <label for="prvaKlasa">I Klasa</label>
</div>
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="drugaKlasa" placeholder="drugaKlasa">
  <label for="drugaKlasa">II Klasa</label>
</div>
<div class="form-floating mb-3">
  <input type="number" class="form-control" id="trecaKlasa" placeholder="trecaKlasa">
  <label for="trecaKlasa">III Klasa</label>
</div>
</div>
